/* Global */

:root {
	--darkblue: #152f50;
	--accent: #4ade80;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	color: var(--darkblue);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}

#viewer-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

button {
	display: flex;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.button {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.7rem;
	box-sizing: border-box;
	margin: 0.8rem;
	cursor: pointer;
	background-color: rgba(226, 232, 240, 0.1);
	backdrop-filter: blur(5px);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

.button:hover {
	background-color: var(--darkblue);
}

.button:hover > .icon {
	color: white;
}

.button:hover .tooltip {
	visibility: visible;
	opacity: 100%;
	transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

.button > .ws {
	cursor: pointer;
	color: var(--darkblue);
	height: 2rem;
	width: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

.button:hover > .ws {
	color: white;
}

.selected {
	background-color: var(--darkblue);
}

.selected > .icon {
	color: white;
}

.non-active {
	opacity: 0.3;
	pointer-events: none;
}

.all {
	width: 3rem!important;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	color: var(--darkblue);
	cursor: pointer;
}

input {
	display: none;
}

.button:has(input:checked) {
	background-color: var(--darkblue);
}

input:checked + .icon {
	color: white;
}

input:checked + .ws {
	color: white;
}

/* Toolbar */

.toolbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
	position: fixed;
	height: 100vh;
	left: 2rem;
}

.tooltip {
	display: flex;
	align-items: center;
	position: absolute;
	height: 2rem;
	margin-left: 4rem;
	padding: 0.7rem 2rem;
	background-color: var(--darkblue);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	border-radius: 15px;
	color: white;
	visibility: hidden;
	opacity: 0;
	transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

.tooltip > p {
	display: block;
}

.tooltip > p::first-letter {
	color: var(--accent);
	font-weight: 900;
}

/* WSbar */

.wsbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	z-index: 1;
	position: fixed;
	width: 100vw;
	left: 50%;
	bottom: 2rem;
	transform: translate(calc(-50%), 0);
}

/* Property View */

.side-menu-right {
	background-color: rgba(226, 232, 240, 0.1);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(5px);
	z-index: 1;
	position: fixed;
	top: 50%;
	left: 100%;
	transform: translate(calc(-50% - 15rem), calc(-50%));
	height: auto;
	width: 30rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	pointer-events: none;
}

.right-menu-item {
	flex: 1;
	padding: 2rem;
	color: var(--darkblue);
	overflow: hidden;
}

h4 {
	margin-bottom: 0px;
}

#description {
	margin-top: 10px;
	margin-bottom: 5px;
}

table {
	border-collapse: separate;
	border-spacing: 0 10px;
	table-layout: fixed;
	width: 100%;
	overflow: hidden;
}

th, td {
	border: none;
	text-align: left;
}

hr {
	margin: 20px 0px 5px 0px;
	border-color: var(--darkblue);
	border-style: solid;
	border-width: 1px;
}